.catalogo-grid-img{
    display: flex;  
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    transition:0.1s all ease;
}

.catalogo-grid-img:hover{
    border:1px solid orangered;
}

#pr1f1{
    grid-area: 1/1/2/7;
}

#pr1f2{
    grid-area: 1/7/2/13;
}

#pr1f3{
    grid-area: 2/1/3/7;
}

#pr1f4{
    grid-area: 2/7/3/13;
}

#pr2f1{
    grid-area: 1/1/2/5;
}

#pr2f2{
    grid-area: 1/5/2/9;
}

#pr2f3{
    grid-area: 1/9/2/13;
}

#pr2f4{
    grid-area: 2/1/3/5;
}

#pr2f5{
    grid-area: 2/5/3/9;
}

#pr2f6{
    grid-area: 2/9/3/13;
}

#pr2f7{
    grid-area: 3/1/4/7;
}

#pr2f8{
    grid-area: 3/7/4/13;
}

#pr2f9{
    grid-area: 4/1/5/7;
}

#pr2f10{
    grid-area: 4/7/5/13;
}


/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px){
    /* Estilos específicos para móviles */
    .catalogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: auto; 
        margin-top:5vh; 
        margin-bottom: 5vh;
    }

    .catalogo-h3{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        height: 10vh;
        font-size: 2rem;
        color:white;
        border-bottom: 2px solid rgb(255, 81, 0);
    }

    .catalogo-grid{
        display:grid;
        justify-content: flex-end;
        grid-template-columns: repeat(12, 6%); 
        grid-template-rows: repeat(13,auto);
        width:auto;
        height:auto;
        gap:1vh;
    }

    .catalogo-grid-containerImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    
/* Estilos para tablets (ancho máximo de 1024px) */
@media (max-width: 1024px) and (min-width:769px){
/* Estilos específicos para tablets */
.catalogo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: auto; 
    margin-bottom: 10vh;
}

.catalogo-h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 10vh;
    font-size: 2rem;
    color:white;
    border-bottom: 2px solid rgb(255, 81, 0);
}

.catalogo-grid{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(12, 6%); /* Crea 5 columnas de igual ancho */
    grid-template-rows: repeat(13,auto); /* Crea 5 filas de igual altura */
    gap:1vh;
    height:auto;
    width:100%;
    
}

.catalogo-grid-containerImg{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

}

/* Estilos para computadoras de escritorio (ancho mínimo de 1025px) */
@media (min-width: 1025px) {
/* Estilos específicos para escritorio */
.catalogo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: auto; 
    margin-bottom: 10vh;
}

.catalogo-h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    height: 10vh;
    font-size: 2rem;
    color:white;
    border-bottom: 2px solid rgb(255, 81, 0);
}

.catalogo-grid{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(12, 6%); 
    grid-template-rows: repeat(13,auto); 
    gap:1vh;
    height:auto;
    width:100%;
    
}

.catalogo-grid-containerImg{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

}